.form{
    background-color: hsl(0, 93%, 94%);
}
.input-upload {
    background-color: rgb(47, 255, 206);
}
.Home {
    background-color: hsl(163, 93%, 94%);
}
.form-inner {
    background-color: red;
}